<div class="choose-us-main-container">
    <div class="choose-us-container">
        <div class="title-container">
            <br /> 
            <br />   
            <div class="title-text">WHY CHOOSE US</div>
            <br />  
            <div class="delimeter"></div> 
         </div>
         <div class="choose-us-info-container">
            <div class="info-box" *ngFor="let choose of ChooseUsArr">
                <div class="icon-box">
                    <div class="icon">
                        <i [ngClass]="choose.iconName"></i>
                    </div>
                </div>
                <br />  
                <div class="subtitle">{{choose.subtitle}}</div>
                <br />  
                <div class="text-box">{{choose.info}}</div>
            </div>
        </div>
    </div>
</div>
