<div class="contacts-info-main-container">
    <div class="contacts-info-container">
        <div class="title-container">
           <div class="title-text">24/7 & 365/YEAR</div>
           <br />  
           <div class="subtitle-text">Our commitment is to provide all our clients with excellent private concierge service, 24 hours a day, 7 days a week. 
            Feel free to contact Managers anytime via phone or email with any questions or concerns. 
            </div> 
           <br />
           <div class="subtitle-text">We look forward to assist you!</div>
        </div>
        <br />  
        <div class="contacts-info-cards-container">
            <mat-card class="contacts-info-card" *ngFor="let card of cardsArr">
                <mat-card-content class="contacts-info-content">
                    <p class="contact-title">{{card.title}}</p>
                    <p class="contact-subtitle">{{card.subtitle}}</p>
                    <br />  
                    <p class="contact-email-title">{{card.email}}</p>
                    <p class="contact-email">{{card.emailInfo}}</p>
                    <br />  
                    <p class="phone-title">{{card.phone}}</p>
                    <p class="phone-number">{{card.phoneInfo}}</p>
                </mat-card-content>
              </mat-card>            
        </div>   
    </div>
</div>

