<div class="toolbar-main-container">
    <div class="top-cotainer">
        <div class="mail-box">
            <i class="fa-regular fa-envelope-open icon-style"></i>
            <div class="text-container">{{mailDates}}</div>
        </div>
        <div class="number-box">
            <i class="fa-solid fa-phone-flip icon-style"></i>
            <div class="text-container">{{phoneDates}}</div>
        </div>
        <div class="social-box">
            <img src="../../../assets/img/facebook-logo-2428.png"  (click)="socialMediaIconClick()">
        </div>
    </div>
    <div class="bottom-container">
        <div class="logo-box">
            <img src="../../../assets/img/logo.png">
        </div>
        <div class="emty-div"></div>
        <div class="nav-menu-box">
            <div class="btn-block">
                <div class="global-btn" id="home" (click)="navBarBtnClick($event, 'home')">HOME</div>
                <div class="global-btn" id="beat" (click)="navBarBtnClick($event, 'beat')">BEAT THE DEAL</div>
                <div class="global-btn" id="about" (click)="navBarBtnClick($event, 'about')">ABOUT US</div>
                <div class="global-btn" id="contacts" (click)="navBarBtnClick($event, 'contacts')">CONTACT US</div>  
            </div>
        </div>
    </div>
</div>
