<div class="welcome-main-container">
    <div class="welcome-container">
        <div class="welcome-main-box">
            <div class="title-container">
                <div class="title-text">WELCOME TO OUR SITE </div>
                <br />  
                <div class="delimeter"></div>
            </div>
            <div class="info-container">{{welcomeInfoText}}</div>
            <div class="btn-container">
                <div class="global-btn purple-btn" (click)="readMoreClick()">READ MORE</div>
            </div>
        </div>
    </div>
    <div class="emty-div"></div>
</div>
