<div class="contact-us-main-container">
    <div class="contact-us-container">
        <div class="title-container">
           <div class="title-text">CONTACT US</div>
           <br />  
           <div class="delimeter"></div> 
           <br />
           <div class="subtitle-text">Get in touch with us via phone, email or the form below. We look forward to hearing from you.</div>
        </div>
        <br />  
        <div class="contact-us-form-container">
            <form class="contact-us-box" [formGroup]="contactUsFormGroup">
                <div class="left-form-box">

                    <mat-form-field class="contact-us-form-field subject-field" id="subjectField">
                        <mat-label>SUBJECT</mat-label>
                        <input type="text" matInput formControlName ="subjectFormControl" placeholder="Ex.purchase" class="contact-us-input">
                    </mat-form-field>


                    <mat-form-field class="contact-us-form-field">
                        <mat-label>NAME</mat-label>
                        <input type="text" matInput formControlName ="nameFormControl" placeholder="Ex.First name" class="contact-us-input">
                        <mat-error *ngIf="contactUsFormGroup.hasError('required','nameFormControl')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="contact-us-form-field">
                        <mat-label>PHONE</mat-label> 
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" matInput formControlName ="phoneFormControl" placeholder="Ex.8143519152" class="contact-us-input">
                        <mat-error *ngIf="contactUsFormGroup.hasError('required','phoneFormControl')">
                        Phone is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="contact-us-form-field">
                        <mat-label>E-MAIL</mat-label>
                        <input type="email" matInput formControlName ="emailFormControl" placeholder="Ex.pat@example.com" class="contact-us-input">
                        <mat-error *ngIf="contactUsFormGroup.hasError('email','emailFormControl') && !contactUsFormGroup.hasError('emailFormControl','required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="contactUsFormGroup.hasError('required','emailFormControl')">
                        Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="right-form-box">
                    <mat-form-field class="text-area contact-us-form-field">
                        <mat-label>COMMENTS</mat-label>
                        <textarea matInput formControlName ="commentsFormControl" class="contact-us-input"></textarea>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="btns-container">
            <div class="info-container">
                <div class="info-box">To ensure the security of the information, type the code (displayed below) in the box.</div>
            </div>
            <br />
            <div class="code-container">
                <div class="code-box">{{randomCode}}</div>
                <input matInput type="text" [(ngModel)]="codeInputValue" class="code-input">
                <button mat-flat-button class="btn-submit" (click)="btnSubmitClick()" [disabled]="disableBtnSubmit()">submit</button>
            </div>  
        </div>

    </div>
</div>
