<div class="about-us-main-container">
    <div class="about-us-container">
        <div class="about-us-left-container">
            <div class="title-container">
                <div class="title-text">ABOUT US</div>
                <br />  
                <div class="delimeter"></div> 
            </div>
            <br />  
            <div class="info-container" *ngFor="let aboutInfo of aboutUsObj.fistBlock.information">
                <div class="subtitle-box">{{aboutInfo.title}}</div>
                <br /> 
                <div class="info-box">{{aboutInfo.info}}</div>
                <br /> 
            </div>
        </div>
        <div class="about-us-right-container">
            <img [src]="aboutUsObj.fistBlock.imgSrc">
        </div>
    </div>

    <div class="about-us-container second-container">
        <div class="about-us-left-container">
            <br />  
            <div class="info-container" *ngFor="let aboutInfo of aboutUsObj.secondBlock.information">
                <div class="subtitle-box">{{aboutInfo.title}}</div>
                <br /> 
                <div class="info-box">{{aboutInfo.info}}</div>
                <br /> 
            </div>
        </div>
        <div class="about-us-right-container">
            <img [src]="aboutUsObj.secondBlock.imgSrc">
        </div>
    </div>
</div>
