.main-app-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top-main-container{
        height: 24%;
    };
    .main-content-container{};
    .bottom-main-container{};
}