.main-app-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: max-content;
    .top-main-container{
        height: 20%;
        width: 100%;
    };
    .main-content-container{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    };
}