.home-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .search-box{
        width: 100%;
        min-height: 725px;
    }

    .welcome-box{
        width: 100%;
        min-height: 495px;
    }

    .beast-deals-box{
        width: 100%;
        min-height: 725px;
    }
}