.home-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .search-box{
        width: 100%;
        height: 725px;
    }

    .welcome-box{
        width: 100%;
        height: 495px;
    }

    .beast-deals-box{
        width: 100%;
        height: 725px;
    }

    .contact-us-box{
        width: 100%;
        height: 520px;
    }

    .about-us-box{
        width: 100%;
        height: 690px;
    }

    .choose-us-box{
        height: 620px;
    }
}