::ng-deep .beat-the-deal-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .beat-the-deal-container{
        width: 57.5%;
        display: flex;
        flex-direction: column;
        .title-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title-text{
                font-size: 35px;
                letter-spacing: 2px;
                line-height: 17px;
                color: #3c4e71;
                font-family: "Montserrat-Bold";
            }
            .delimeter{
                width: 170px;
                height: 2px;
                background-color: #713c4e;
            }
        }

        .form-contaier{
            .beat-the-deal-box{
                display: flex;
                width: 100%;
                height: 100%;
                .left-form-box{
                    display: flex;
                    flex-direction: column;
                    .from-to-box{
                        >*{
                            width: 49%;
                        }
                        display: flex;
                        justify-content: space-between;
                        margin-right: 6px;
                    }
                    .departure-return-box{
                        >*{
                            width: 49%;
                        }
                        display: flex;
                        justify-content: space-between;
                        margin-right: 6px;
                    }
                }
            }

            .mdc-floating-label{
                color: #2f2f2f;
                font-size: 15px;
                font-family: "Montserrat-SemiBold";
            }

            .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
                font-family: "Montserrat-SemiBold";
                font-weight: 500 !important;
                color: #2f2f2f;
                font-size: 15px;
                line-height: 17px;
            }

            ::placeholder {

                color: #2f2f2f;
            }

            .mat-mdc-text-field-wrapper{
                border: 1px solid #d5d5d5 !important;
                background: transparent !important;
                padding: 0px 10px;
                border-radius: 0px !important;
            }

            .mat-mdc-input-element{
                color: #000!important; 
            }

            .mat-mdc-form-field-icon-prefix {
                color: #000 !important; 
            }

            textarea{
                resize: none;
            }
            .text-area{
                height: 100%;
            }

            .left-form-box, .right-form-box{
                display: flex;
                flex-direction: column;
                min-height: 200px;
                justify-content: space-between;
                width: 50%;
            }    

            .left-form-box{
                .contact-us-form-field{   
                    margin-right: 6px;
                }
            }

            .right-form-box{
                .contact-us-form-field{   
                    margin-left: 6px;
                }
            }


            .mat-mdc-icon-button svg {
                fill: #7c5158 !important;
            }
            .mat-mdc-select-arrow {
                fill: #7c5158 !important;
            }
        }

        .btns-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            .code-input{
                background: transparent;
                border: 1px solid  #2f2f2f ;
                color:  #000 ;
                font-family: "Ubuntu-Light";
                font-weight: 500 !important;
                font-size: 15px;
                line-height: 17px;

            }

            .code-input:focus{
                outline: none;
            }
            .info-box{
                color: #2f2f2f !important;
            }


            .code-container{
                display: flex;
                width: 100%;
                justify-content: center;
                min-height: 45px;
            }
            .code-box{
                display: flex;
                align-items: center;
                margin: 0px 10px;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 17px;
                text-transform: uppercase;
                padding: 0px 20px;
                font-family: "Montserrat-Bold";
                user-select: none;
                color: #ffffff;
                background-color: #713b4d;
            }

            .btn-submit{
                text-transform: uppercase;
                font-family: "Montserrat-Bold";
                margin: 0px 10px;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 17px;
                background-color: #713b4d;
                border: none;
                color: #ffffff;
            }

            .btn-submit:hover{
                cursor: pointer;
                background-color: #5f3241;
                color: #feffffb4;
            }

            .info-box{
                font-size: 14px;
                letter-spacing: 1px;
                color: #ffffff;
                font-family: "Ubuntu-Light"
            }
        }

        .info-about-box{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1120px;
            .title-container{
                width: 100%;
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 25px;
                text-transform: uppercase;
                color: #713c4e;
                font-family: "Montserrat-Bold";
            }
            .text-info-container{
                width: 100%;
                font-size: 16px;
                letter-spacing: 1px;
                color: #2f2f2f;
                font-family: "Ubuntu-Light";
            }
            .cards-container{
                display: flex;
                flex-direction: row;
                min-height: 265px;
                width: 100%;
                .beat-info-card{
                    max-width: 350px;
                    margin: 0px 10px;
                    border-radius: 10px;
                    background-color: #3b4d71;
                    width: 350px;
                    .beat-info-content{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .beat-title{
                            font-family: "Montserrat-Bold";
                            color: #95b9ff;
                            font-size: 60px;
                        }
                        .beat-subtitle{
                            font-size: 23px; 
                            font-family: "Montserrat-Bold";
                            color: #ffffff;
                            max-width: 200px;
                            text-align: center;
                        }

                        .beat-ifo{
                            font-size: 15px;
                            letter-spacing: 1px;
                            color: #c9c5d9;
                            font-family: "Ubuntu-Light";
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:600px){
    .beat-the-deal-main-container{
        .beat-the-deal-box{
            flex-direction: column;
        }
        
        .left-form-box, .right-form-box{
            width: 100% !important;
        }
        
        .left-form-box{
            .contact-us-form-field{   
                margin-right: 0px !important;
            }
        }
        
        .right-form-box{
            .contact-us-form-field{   
                margin-left: 0px !important;
            }
            .text-area{
                min-height: 200px;
            }
        }
    }
}