<div class="footer-main-container">
    <div class="logo-container">
        <div class="logo-box">
            <img src="../../../assets/img/logo-white.png">
            <div class="year-container">{{yearInfo}}</div>
        </div>   
    </div>

    <div class="info-container">
        <div class="about-container">
            <div class="title">ABOUT US</div>
            <div class="info-box">{{aboutUsInfo}}</div>
        </div>
        <div class="contacts-container">
            <div class="title">CONTACTS</div>
            <div class="info-box">Phone: {{phoneDates}}</div>
            <div class="info-box">Email: {{mailDates}}</div>
        </div>
        <div class="social-container">
            <div class="title">SOCIAL MEDIA</div>
            <div class="social-box">
                <img src="../../../assets/img/facebook-logo-2428.png">
            </div>
        </div>
    </div>
    <div class="emty-div"></div>
</div>
